<h1>Listing reads</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reads.each do |read| %>
      <tr>
        <td><%= read.title %></td>
        <td><%= read.body %></td>
        <td><%= link_to 'Show', read %></td>
        <td><%= link_to 'Edit', edit_read_path(read) %></td>
        <td><%= link_to 'Destroy', read, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Read', new_read_path %>
