<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @read.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @read.body %>
</p>

<%= link_to 'Edit', edit_read_path(@read) %> |
<%= link_to 'Back', reads_path %>
