<h1>Listing destroys</h1>

<table>
  <thead>
    <tr>
      <th>Post</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @destroys.each do |destroy| %>
      <tr>
        <td><%= destroy.post_id %></td>
        <td><%= destroy.body %></td>
        <td><%= link_to 'Show', destroy %></td>
        <td><%= link_to 'Edit', edit_destroy_path(destroy) %></td>
        <td><%= link_to 'Destroy', destroy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Destroy', new_destroy_path %>
